*{
    overflow: visible;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:flex-end;
    position: absolute;
    font-weight: bolder;
    transform:rotate(30deg);
    transform:scale(0);
}